<ol  [hidden] = 'show'>
  <p>Even</p>
    <li  *ngFor="let item of movies; let i = index; let even = even">
        <div *ngIf="even">
          {{ i + 1 }}.
          {{item.title}} {{item.year}}
        </div>
    </li>
</ol>

<button (click)='hide()' >{{show}}</button>
<ul [ngClass]="show ? 'css-class-1' : 'ninja'">
  <p>Odd</p>
    <li *ngFor="let item of movies; let i = index; let odd= odd">
        <div *ngIf="odd">
          {{ i + 1 }}.
          {{item.title}} {{item.year}}
        </div>
    </li>
</ul>

