<h1>Menu i spis kursu</h1>
<ol>
  <li>
    <h2>Ng for each</h2>
    <app-komponent1></app-komponent1>
  </li>

  <li>
    <h2>Ng filter</h2>
    <app-komponent2></app-komponent2>
  </li>

  <li>
    <h2>Show hide on click, odd/even  *ngIf</h2>
    <app-komponent3></app-komponent3>
  </li>

  <li>
    <h2>App bindings</h2>
    <app-bindings></app-bindings>
  </li>

  <li>
    <h2>App bindings zadanie</h2>
    <app-bindings-zadanie></app-bindings-zadanie>
  </li>

  <li>
    <h2>Event bindings</h2>
    <app-event-binding></app-event-binding>
  </li>

  <li>
    <h2>Property input</h2>
    <app-property-input></app-property-input>
  </li>

  <li>
    <h2>Styles and classes</h2>
    <app-style-class></app-style-class>
  </li>

  <li>

  </li>
</ol>
